header{
    height: 150px;
    background-color: rgb(233, 172, 97);
    color: bisque;
    font-weight: bold;
    font-style: oblique;
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-family: Croissant One;
}
body{
    background-color: rgb(230, 217, 201);
    font-family: Croissant One;
}
main{
    background-color: rgb(230, 217, 201);
    margin-top: 100px;
    margin-left: 100px;
}

footer{
    height: 80px;
    background-color: rgb(233, 172, 97);
    color: bisque;
    font-weight: bold;
    font-style: oblique;
    font-size: 20px;
    text-align: center;
    font-family: Croissant One;
    color: rgb(0, 0, 0);
    margin-top: 80px;
    position: absolute;
    bottom: 0;
}

#kep1{
  height: 300px; 
  margin-top: 100px;
  margin-right: 400px;
  border: 3px solid black;
  border-radius: 30px;
}
#kep2{
    height: 500px; 
    margin-top: 10px;
    margin-right: 400px;
    border: 3px solid black;
    border-radius: 30px;
  }

h1{
    margin-bottom: 75px;
    font-size: 60px;
}
h2{
    margin-top: 80px;
}
ul{
    margin-left: 60px;
}
.form{
    padding-left: 100px;
}
.form2{
    margin: auto;
}
.rtl{
    text-align: end;
    margin-right: 200px;
}